@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {

    background-color: #030303;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #363636;
    display: flex;

}

h1{
    color: whitesmoke;
    align-self: center;
    margin-left: 28rem;
}


.box {
    position: absolute;
    height: 40px;
    right: 20%;
    top: 25px;
    display: flex;
    cursor: pointer;
    padding: 10px 40px;
    background: transparent;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    color: white;
    transition: color 0.3s;
}

.box:hover {
    background: white;
    color: black;
}

.box:active {
    background: white;
    color: black;
}

.box input {
    outline: none;
    border: none;
    background: transparent;
}

.box a .fas {
    font-size: 18px;
}



div{
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #363636;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    justify-content: center;
    align-content: center;
    width: 205px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: transparent;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.8rem;

}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #333; /* Darker background color for better contrast */
    color: #fff; /* White text color for readability */
    padding: 1.5rem; /* Adjusted padding for a balanced layout */
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%); /* Start offscreen */
    transition: transform 0.3s ease-in-out; /* Smooth transform transition */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Subtle box shadow for depth */
}

.overview h3 {
    margin-top: 0;
    font-size: 1.5rem; /* Increased font size for emphasis */
    margin-bottom: 1rem; /* Added bottom margin for spacing */
}


.movie:hover .overview {
    transform: translateY(0);
}html {
  height: 100%;
  width: 100%;
}